/* App.css */

body {
  background-color: gray; /* Gray background for the entire page */
  margin: 0;
  padding: 0;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the container takes full viewport height */
}

.auth-box {
  width: 90%;
  max-width: 400px;
  background-color: white; /* White background for the sign-up container */
  padding: 15px; /* Reduced padding for a more compact form */
  border-radius: 8px; /* Slightly reduced border radius */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Reduced box shadow for a lighter appearance */
}

.auth-box h3 {
  font-size: 24px; /* Adjusted font size */
  margin-bottom: 15px; /* Reduced margin */
}

.InputGroup label {
  margin-top: 8px; /* Reduced margin */
}

.InputGroup input {
  margin-top: 4px; /* Reduced margin */
  padding: 8px; /* Reduced padding */
}

.auth-button {
  margin-top: 15px; /* Reduced margin */
  padding: 10px; /* Reduced padding */
}

@media (max-width: 768px) {
  .auth-box {
    width: 95%;
    padding: 12px; /* Adjust padding for tablets */
  }
}

@media (max-width: 480px) {
  .auth-box {
    width: 100%;
    padding: 10px; /* Adjust padding for mobile devices */
  }
}
